.my-btn-margin {
    margin: 1%;
}

.gif-div {
    display: inline-block;
    /* float: left; */
    margin: .5%;
}

.btnsCont {
    margin: auto;
}

.gif {
    height: 175px;
    /* width: 100%; */
    margin-bottom: .5em;
}

.rating {
    font-family: 'Barlow Condensed', sans-serif;

    line-height: .5em;
    font-size: .9em;
    color: rgb(150, 150, 150);
}

.title {
    font-family: 'Barlow Condensed', sans-serif;
    line-height: .75em;
    font-size: 1.1em;
    font-weight: bold;
    font-stretch: 75%;

}

#moreGIF {
    margin: .5em;
}

.active-emotion {
    color: rgb(4, 70, 80);
    font-weight: bold;
    border-color: #127F90;
    border-width: 1px;
}