.my-btn-margin {
    margin: 1%;
}

.gif-div {
    display: inline-block;
    /* float: left; */
    margin: .5%;
}

.btnsCont {
    margin: auto;
}

.gif {
    height: 150px;
    /* width: 100%; */
    margin-bottom: .5em;
}

.rating {
    line-height: .5em;
    font-size: .7em;
    color: rgb(126, 126, 126);
}

.title {
    line-height: .7em;
    font-size: .75em;
}

#moreGIF {
    margin: .5em;
}